@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* body {
    overflow: overlay;
} */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .1s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}